rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    // Topic note uploads.
    match /notes/{uid}/{topicId}/{allPaths=**} {
      allow read, write: if isSignedIn() && request.auth.uid == uid;
    }
  }
}
